.LogoAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;

  .tittle {
    color: #007360;
    text-transform: uppercase;
    font-family: MuseoSansBold;
    font-size: 31px;
  }
}

@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot"); 
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/MuseoSansBold/MuseoSansBold.woff2") format('woff2'),
  url("../fonts/MuseoSansBold/MuseoSansbold.woff") format('woff'),
  url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
}
