.ProductList__desc {
  justify-content: space-between;
  align-items: start;
  display: flex;

  #pink {
    background-color: #961981;
  }
  #red {
    background-color: #e30613;
  }

  .ProductList__desc_item {
    width: 304px;
    border-bottom: 3px solid #6c7073;

    .desc__title {
      background-color: #00a098;
      text-transform: uppercase;
      color: white;
      padding: 10px;
      text-align: center;
      margin-bottom: 13px;
      font-size: 15px;
      font-weight: 200;
      font-family: HelveticaNeueLTComMd;
    }
    .desc__list {
      display: flex;

      &_iconsBlock {
        display: flex;
        flex-direction: column;
        align-items: center;

        .desc__list_icon {
          padding-bottom: 35px;

        }
      }
      
      .desc__list_articleBlock {
        
        .desc__list_desc {
          padding-left: 7px;
          padding-bottom: 25px; // ok
          font-size: 16px;
          font-family: ArialRegular;
        }
      }
    }
  }
}

#gearIcon {
  padding-bottom: 20px;
}
#shildSIcon {
  padding-bottom: 40px;
}
#shieldKIcon {
  padding-bottom: 50px;
}
#cardIcon {
  padding-bottom: 25px;
}
#radarIcon {
  padding-bottom: 18px;
}
#monitorsIcon {
  padding-bottom: 15px;
}
#parentIcon {
  padding-bottom: 26px;
}

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot"); 
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/ArialRegular/ArialRegular.woff2") format('woff2'),
  url("../fonts/ArialRegular/ArialRegular.woff") format('woff'),
  url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTComMd";
  src: url("../fonts/HelveticaNeueLTComMd/HelveticaNeueLTComMd.eot"); 
  src: url("../fonts/HelveticaNeueLTComMd/HelveticaNeueLTComMd.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/HelveticaNeueLTComMd/HelveticaNeueLTComMd.woff2") format('woff2'),
  url("../fonts/HelveticaNeueLTComMd/HelveticaNeueLTComMd.woff") format('woff'),
  url("../fonts/HelveticaNeueLTComMd/HelveticaNeueLTComMd.ttf") format("truetype");
}
