.ProductList {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 41px 0 50px 0;

  #Product__title_pad {
    padding-bottom: 31px;
  }
  
  .Product__title_desc {
    text-transform: uppercase;
    padding: 20px 0 50px 3px;
    position: relative;
    width: 350px;
  
    .title__desc_green {
      color: #009179;
    }
    .title__desc_pink {
      color: #97187d;
    }
    .title__desc_red {
      color: #e30613;
    }
  }
  #lastProduct {
    min-width: 290px; 
  }
  .Product {
  max-width: 303px; 
  min-width: 250px;
  position: relative;  
  }
  .boxImage {
    display: block;
    margin: 0 auto;
    padding-left: 35px;
  }
  .Product__title {
    display: flex;
    position: relative;
    width: 340px;
  
    & img {
      height: 59px;
    }
    .Product__title_name {
      display: flex;
      flex-direction: column;
      color: #009179;
      padding-left: 8px;
      font-family: FSElliotProBold;
      font-size: 16px;
    }
    .title_uppercase {
      text-transform: uppercase;
      font-size: 27px; 
    }
  }
  
  #buyBlock_pad {
    padding-top: 18px;
   }
  .buyBlock {
    padding: 15px 0 0 34px;
  
    li:nth-child(1), li:nth-child(2) {
      color: #3a3a3a;
      border-bottom: 3px solid ;
      padding-bottom: 6px;
      padding-top: 10px;
    }
    .Product__buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 3px;
    
      .buy__size {
        font-family: ArialBold;
      }
      .buy__prise {
        display: flex;
        flex-direction: column;
        
        &_oldPrise {
          text-decoration: line-through; 
          font-size: 14px;
          font-family: ArialRegular;
          letter-spacing: -0.01rem;
          word-spacing: -2px;
        }
        &_newPrise {
          color: #00a88e;
          font-family: ArialBold;
          letter-spacing: 0px;
          font-size: 20px;
          letter-spacing: -0.01rem;
          word-spacing: -3px;
        }
      }
      .buy__btn {
        background: url('./Products/images/ACQUISTA.jpg');
        width: 115px;
        height: 27px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@font-face {
  font-family: "FSElliotProBold";
  src: url("../fonts/FSElliotProBold/FSElliotPro-Bold.eot"); 
  src: url("../fonts/FSElliotProBold/FSElliotPro-Bold.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/FSElliotProBold/FSElliotPro-Bold.woff2") format('woff2'),
  url("../fonts/FSElliotProBold/FSElliotPro-Bold.woff") format('woff'),
  url("../fonts/FSElliotProBold/FSElliotPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot"); 
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/ArialBold/ArialBold.woff2") format('woff2'),
  url("../fonts/ArialBold/ArialBold.woff") format('woff'),
  url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
}
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot"); 
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/ArialRegular/ArialRegular.woff2") format('woff2'),
  url("../fonts/ArialRegular/ArialRegular.woff") format('woff'),
  url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
}

@-moz-document url-prefix() {
  .ProductList {
    font-weight: 100;

    .Product__title_desc {
      font-weight: 700;
    }

  }
  .buy__size {
    letter-spacing: 0px!important;
  }

}
